.listCon {
  padding: 10rem 0;
}

/* ul  */
.listCon .inner.mw {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listCon .inner {
  display: block;
}

.prev:hover,
.next:hover {
  color: var(--color-blue);
  cursor: pointer;
}

/* li  */
.sportsList {
  display: flex;
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: calc(50% - 1rem);
}
.sportsList .grayCon {
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  gap: 16px;
  background: var(--color-lightGray);
}
.grayCon h5 {
  padding-bottom: 1.6rem;
}
.sportsList .more {
  color: var(--color-green);
  background-color: var(--color-Charcoal);
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

/* pgCon 부분 시작 */

.pgCon {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 8rem;
}

.prev,
.next {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: var(--text-color);
}

.page-item {
  border: 1px solid var(--color-lightGray);
  padding: 1rem 2rem;
}
.page-item.on {
  background-color: var(--color-blue);
  color: var(--color-lightGray);
  cursor: pointer;
}

.listMore {
  border: 1px solid var(--color-Charcoal);
  text-align: center;
  padding: 2rem 0;
  display: none;
}

.disabled {
  color: var(--color-lightGray);
  cursor: default;
}

@media (max-width: 1676px) {
  .listCon {
    width: 100%;
  }
  .listCon .inner.mw {
    justify-content: center;
  }
  .sportsList .more {
    width: 100%;
  }
}
@media (max-width: 1656px) {
  .sportsList {
    flex-direction: column;
    width: 100%;
  }

  .sportsList .grayCon {
    text-align: center;
    padding-right: 3rem;
  }
  .sportsList .more {
    justify-content: center;
    padding: 1rem;
  }

  .pgCon .pagination {
    display: none;
  }
  .listMore {
    display: block;
  }
}
